




body{
    background-color: #333;
    color: white;
}
nav {
    height: 100px;
    background-color: #444;
    margin: 5px;
}
footer {
    height: 200px;
    background-color: #555;
    margin: 5px;
}