body {
    background-color: #233;
}

.screen {
    width: 500px;
    height: 250px;
    border: 1px solid #555;
    position: relative;
}
.mold {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(90deg, green, lightgreen, green);
    border-radius: 0 0 5px 5px;
    position: absolute;
    bottom: 0;
    left: 225px;
}

.lead {
    width: 140px;
    height: 10px;
    background-color: #555;
    position: absolute;
    bottom: 100px;

    transform: rotate(25deg);
}

.lead.right {
    transform: scaleX(-1) rotate(25deg);
    right: 0;
}

.egg {
    width: 25px;
    height: 25px;
    background-image: url(icons/egg.svg);
    background-size: contain;
    position: absolute;
    bottom: 0;

}
.egg-broken {
    background-image: url(icons/egg-broken.svg);
}

.move {
    animation: move 5s linear;
}

.fall {
    animation: fall 1s ease-in;
    animation-fill-mode: forwards;
}

.score {
    position: absolute;
    width: 500px;
    height: 20px;
    background-color: #555;
    color: orange;
    bottom: -20px;

}

@keyframes move {
    from { left: 0; transform: rotate(0)}
    to {left: 150px; transform: rotate(5turn)}
}

@keyframes fall {
    from {bottom: 0; left: 150px; transform: rotate(0)}
    to {bottom: -50px; left: 180px; transform: rotate(1turn)}
}